
[submodule "frontend-app-learner-dashboard"]
	path = frontend-app-learner-dashboard
	url = https://github.com/williamsmiths/frontend-app-learner-dashboard.git
	branch = release/teak

[submodule "frontend-app-learning"]
	path = frontend-app-learning
	url = https://github.com/williamsmiths/frontend-app-learning.git
	branch = release/teak

[submodule "frontend-app-authn"]
	path = frontend-app-authn
	url = https://github.com/williamsmiths/frontend-app-authn.git
	branch = release/teak


[submodule "edx-platform"]
	path = edx-platform
	url = https://github.com/williamsmiths/edx-platform.git
	branch = cvs_dev
[submodule "tutor-indigo"]
	path = tutor-indigo
	url = https://github.com/williamsmiths/tutor-indigo.git
	branch = release
[submodule "frontend-app-authoring"]
	path = frontend-app-authoring
	url = https://github.com/williamsmiths/frontend-app-authoring.git
	branch = release/teak
[submodule "frontend-app-profile"]
	path = frontend-app-profile
	url = https://github.com/williamsmiths/frontend-app-profile.git
	branch = release/teak
[submodule "frontend-app-discussions"]
	path = frontend-app-discussions
	url = https://github.com/williamsmiths/frontend-app-discussions.git
	branch = release/teak
